/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLOAT Rules */
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}

/* Header and Fotter Size */
main > header, main > footer {
    height: 100px;
    position: relative;
}

/* -------- Navbar --------  */ 
/* Float and Position */
.navbar{
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 607px;
    font-size: larger;
}

#logo{
    border:dashed 2px black;
    float: left;
    width: 20%;
    padding: 2px;
}

.links{
    border:dashed 2px black;
    text-align: center;
    float: left;
    width: 60%;
    padding: 2px;
}
.link{
    padding: 2px;
}

#login{
    border:dashed 2px black;
    float: left;
    width: 20%;
    text-align: end;
    padding: 2px;
}

/* Borders */
main > footer{
    border-top: 1px solid white;
}
.dashed-border{
border:dashed 2px black;
}

/* Sections Sixe */
main > section {
    height: 500px;
}
main > .section-big {
    height: 700px;
}

/* Flex Rules */
main > section {    
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Section01 */

.section1-box{
    height: 80%;
    width: 60%;
}

/* Section 02 to 04 */

.section-reverted{
    flex-direction: row-reverse;
}

.box{
   height:80%;
   width:40%; 
}
.box1{
    height:80%;
    width:30%; 
 }







































































/* Background Colors */
.background-sky{
    background-color: skyblue;
}

.background-blue{
    background-color: blue;
}

.background-ble{
    background-color: rgb(50, 84, 233);
}

.background-palevioletred{
    background-color: palevioletred;
}

.background-pink{
    background-color: pink;
}

.background-green{
    background-color: green;
}

.background-grey{
    background-color: rgb(165, 159, 159);

}

.background-black{
    background-color: rgb(34, 31, 31);
}

.background-marine{
    background-color: aquamarine;
}

.background-orange{
    background-color: orange;
}